pydantic
vllm

git+https://${GH_TOKEN_PUB}@github.com/onkarbhardwaj/FastChat.git@dolomite#egg=fschat[fschat,model_worker]
git+https://${GH_TOKEN}@github.ibm.com/ai-models-architectures/IBM-models.git
# git+https://github.com/ibm-granite/dolomite-engine.git

# Using this since it has a fix for the python sythax issue of 3.9 vs 3.10
git+https://${GH_TOKEN_PUB}@github.com/vedem1192/dolomite-engine.git


# flash-attn