# pydantic==1.10.13
pydantic
vllm==0.5.0
git+https://${GH_TOKEN_PUB}@github.com/onkarbhardwaj/FastChat.git@vd-megatron-merge-main#egg=fschat[fschat,model_worker]
git+https://${GH_TOKEN}@github.ibm.com/ai-models-architectures/IBM-models.git
